Bora praticar!

1) Utilizando o DataFrame importado anteriormente (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)
2) Quem foram os alunos que obtiveram a maior e a menor média
3) Agora una este dataframe com o cadastro_alunos.xlsx
4) Qual a média entre as Media_provas dentro do público feminino? e masculino?
5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?
6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [7]:
import pandas as pd
import numpy as np

In [8]:
#1 Utilizando o DataFrame importado anteriormente (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)
df = pd.read_csv('./alunos3.csv', sep=';')
df[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']] = df[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']].replace(',', '.', regex=True)
df[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']] = df[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']].astype(float)

df['media_provas'] = round(df[['Prova_1', 'Prova_2', 'Prova_3', 'Prova_4']].mean(axis=1),1)
df

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6.0,7.0
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8.0,7.2
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7.0,7.0
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10.0,9.0
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7.0,7.0
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8.0,7.5
6,110301,Joao Galo,20,5.0,6.5,7.0,5.0,5.9
7,110263,José Valente,20,10.0,10.0,10.0,10.0,10.0
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10.0,8.6
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8.0,8.0

In [9]:
# 2) Quem foram os alunos que obtiveram a maior e a menor média
#Maior média
df[df['media_provas'] == df['media_provas'].max()]

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,media_provas
7,110263,José Valente,20,10.0,10.0,10.0,10.0,10.0

In [10]:
#Menor média
df[df['media_provas'] == df['media_provas'].min()]

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,media_provas
6,110301,Joao Galo,20,5.0,6.5,7.0,5.0,5.9

In [11]:
# 3) Agora una este dataframe com o cadastro_alunos.xlsx
df_cadastro = pd.read_excel('./cadastro_alunos.xlsx')
df_merged = df.merge(df_cadastro)
df_merged

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,media_provas,Cidade,Sexo,Idade
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6.0,7.0,São Paulo,Masculino,15
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8.0,7.2,Rio de Janeiro,Feminino,20
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7.0,7.0,Rio de Janeiro,Masculino,18
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10.0,9.0,Belo Horizonte,Masculino,39
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7.0,7.0,Belo Horizonte,Feminino,22
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8.0,7.5,Rio de Janeiro,Feminino,17
6,110301,Joao Galo,20,5.0,6.5,7.0,5.0,5.9,Belo Horizonte,Masculino,26
7,110263,José Valente,20,10.0,10.0,10.0,10.0,10.0,Belo Horizonte,Masculino,31
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10.0,8.6,São Paulo,Feminino,29
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8.0,8.0,São Paulo,Feminino,16

In [16]:
# 4) Qual a média entre as Media_provas dentro do público feminino? e masculino?
notas_femininas = df_merged[df_merged['Sexo'] == 'Feminino']
media_fem = notas_femininas['media_provas'].mean(axis=0)

notas_masculinas = df_merged[df_merged['Sexo'] == 'Masculino']
media_masc = notas_masculinas['media_provas'].mean(axis=0)

print(f'Média das notas femininas: {media_fem.round(1)}')
print(f'Média das notas masculinas: {media_masc.round(1)}')

Média das notas femininas: 7.7
Média das notas masculinas: 7.8

In [18]:
# 5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?
media_aprovados = df_merged[df_merged['media_provas'] >= 7]

media_idade = media_aprovados['Idade'].mean()
print(f'Média das idades dos aprovados: {media_idade}')

Média das idades dos aprovados: 23.0

In [19]:
# 6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?
media_cidade = df_merged.groupby('Cidade')['media_provas'].mean()
cidade_maior_media = media_cidade.idxmax()
maior_media = media_cidade.max()


print(f'A cidade com a maior média é: {cidade_maior_media}, com média de: {maior_media.round(1)}')

A cidade com a maior média é: Belo Horizonte, com média de: 8.0